<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" class="form-control" (input)="updateCanvas()">
          <label for="designation" class="form-label">Designation:</label>
          <input type="text" id="designation" class="form-control" (input)="updateCanvas()">
          <label for="fontSelect" class="form-label">Select Font Family:</label>
          <select id="fontSelect" class="form-select" [(ngModel)]="selectedFont" (change)="updateCanvas()">
            <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <canvas #canvas class="border" id="canvas"></canvas>
      </div>
    </div>
  </div>