<div class="container">
  <div class="row my-3 align-items-center">
    <div class="col-md-4 p-4">
      <h2>User Credentials</h2>
      <div class="form">
        <label for="username" class="form-label mt-2">Username:</label>
        <input
          type="text"
          id="username"
          class="form-control"
          (input)="updateCanvas()"
          placeholder="Username"
        />
        <label for="designation" class="form-label mt-2">Designation:</label>
        <input
          type="text"
          id="designation"
          class="form-control"
          (input)="updateCanvas()"
          placeholder="Designation"
        />
        <label for="fontSelect" class="form-label mt-2"
          >Select Font Family:</label
        >
        <select
          id="fontSelect"
          class="form-select"
          [(ngModel)]="selectedFont"
          (change)="updateCanvas()"
        >
          <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
        </select>
        <label for="imageUpload" class="form-label mt-2">Upload Image:</label>
        <button type="button" class="form-control btn btn-success" onclick="document.getElementById('imageUpload').click()">Choose Image</button>
        <input
          type="file"
          id="imageUpload"
          accept=".svg"
          class="form-control"
          style="display: none;"
          (change)="handleImageUpload($event)"
        />
        <p>{{ uploadedImageName }}</p>
        

      </div>
    </div>
    <div
      class="col-md-8 border d-flex justify-content-center p-3 position-relative overflow-scroll"
      style="max-width: 80vw; height: 90vh"
    >
      <div
        style="
          display: flex;
          position: absolute;
          align-items: flex-start;
          margin: 0;
          top: 0;
          left: 0;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-right: 5rem;
            margin-left: 1rem;
            z-index: 5;
          "
        >
          <p class="mt-2 btn btn-light shadow">
            <img
              class="zoomInAndOut"
              src="./assets/zoom_in.png"
              (click)="zoomIn()"
              alt=""
              height="25px"
              width="25px"
            />
          </p>
          <p class="mt-2 btn btn-light shadow">
            <img
              class="zoomInAndOut"
              src="./assets/zoom_out.png"
              (click)="zoomOut()"
              alt=""
              height="25px"
              width="25px"
            />
          </p>
        </div>
        <div style="position: relative; margin-top: 2rem; z-index: 1">
          <canvas
            #canvas
            class="border rounded shadow draggable-canvas"
            id="canvas"
            appDraggable
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
